<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="3.3.3" targetFramework="net461" />
  <package id="Fody" version="4.0.2" targetFramework="net461" developmentDependency="true" />
  <package id="IKVM" version="7.2.4630.5" targetFramework="net461" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net461" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.2.0" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="2.6.0" targetFramework="net461" />
  <package id="MessagePack" version="1.9.3" targetFramework="net461" />
  <package id="Moda.Korean.TwitterKoreanProcessorCS" version="4.1.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net461" />
</packages>